// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-log {
  overflow-y: scroll;
  padding: 0 25px;
}

#game-log h4 {
  text-align: left;
}

.hide {
  display: hidden;
}